.body-color {
    background-color: #d6d5e1;
}
/*bagian navbar - home page atas*/
header {
    background-color: #7b7d9f; /* Slight transparency */
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo a {
    font-size: 2.0em;
    font-weight: bold;
    color: beige ;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li a {
    text-decoration: none;
    color: beige  ;
    font-size: 1.5em;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #d6d5e1;
}

/* Contact Us Section */
#contact {
    background-color: #f4f4f9;
    padding: 40px 20px;
    font-family: 'Arial', sans-serif;
    color: #333;
    text-align: center;
  }
  
  .contact-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .contact-container h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #2c3e50;
  }
  
  .contact-container p {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: 20px;
  }
  
  form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  textarea {
    resize: none;
    font-size: 15px;
  }
  
  button {
    background-color: #5b54d4;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #5b54d4;
  }
  
  .contact-info {
    margin-top: 20px;
  }
  
  .contact-info h4 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .contact-info a {
    color: #5b54d4;
    text-decoration: none;
  }
  
  .contact-info a:hover {
    text-decoration: underline;
  }
/*footer dan icons*/
footer {
    background-color: #7b7d9f; 
    padding: 10px; 
    text-align: left; 
    font-family: Verdana;
}

.footer {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    max-width: 1190px; 
    margin: 10px auto; 
    padding-bottom: 10px;
}

.tagline {
    padding-top: 20px;
}
.kontak {
    padding-top: 20px;
    padding-left: 510px;
}
.icons {
    padding-top: 18px;
    display: flex;
}

.fa-brands.fa-square-instagram.fa-2x {
    color: rgb(73, 69, 122);
    padding-right: 15px;
}

.fa-solid.fa-envelope.fa-2x {
    color: rgb(73, 69, 122);
    padding-right: 15px;
}

